<html>
<head>
  <title>Timeline | Basic demo</title>
  <!-- Third party -->
  <script src="../../resources/jquery.js"></script>
  <script src="../../resources/json2.js"></script>
  <script src="../../resources/underscore.js"></script>
  <script src="../../resources/backbone.js"></script>
  <script src="../../resources/vis.js"></script>

  <!-- Local -->
  <script src="../../resources/timeline_evernote.js"></script>
</head>
<body>
  <h1>Evernote Timeline Demo</h1>
  <div id="timeline-hook"></div>
</body>
</html>
