<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Populația României</title>
<link rel="stylesheet" href="{{MEDIA_URL}}bootstrap.css" />
<link rel="stylesheet" href="{{MEDIA_URL}}style.css" />
</head>

<body>
<div id="infobox" class="lead"></div>
<div id="container"></div>

<!-- need to fix these to links or add them to cloud 9-->
<script src="{{MEDIA_URL}}topojson.js"></script> 
<script src="{{MEDIA_URL}}d3.js"></script>
<script src="{{MEDIA_URL}}three.js"></script>
<script src="{{MEDIA_URL}}TrackballControls.js"></script>
<script src="{{MEDIA_URL}}d3-threeD.js"></script>
<script src="{{MEDIA_URL}}JSXTransformer.js"></script>
<script src="{{MEDIA_URL}}react.js"></script>
<script src="{{MEDIA_URL}}classNames.js"></script>

<script type="text/jsx" src="{{MEDIA_URL}}romania.js"></script>
</body>
</html>