<!--
<h1> list of notes</h1>
<br>

<ul>
{% for n in notes %}
    <li>{{ n.uid }} -- {{ n.time_created }} title: {{ n.title }}---content: {{n.content_text}}</li>
{% endfor %}
</ul>
//-->

<!doctype html>
<html>
<head>
    <title>Timeline | Basic demo</title>
    <script src="http://visjs.org/vis.js"></script>
    <style type="text/css">
        body, html {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<h1> Timeline </h1>
<div id="mytimeline"></div>
<script type=text/javascript src="{{MEDIA_URL}}/timeline.js"></script>
</body>
</html>
