<!--
<h1> list of notes</h1>
<br>

<ul>
{% for n in notes %}
    <li>{{ n.uid }} -- {{ n.time_created }} title: {{ n.title }}---content: {{n.content_text}}</li>
{% endfor %}
</ul>
//-->

<!doctype html>
<html>
<head>
    <title>Timeline | Basic demo</title>
    <script src="http://visjs.org/vis.js"></script>

    <style type="text/css">
        body, html {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<div id="mytimeline"></div>

<script type="text/javascript">
    var container = document.getElementById('mytimeline');
    var data = [
    {% for c in n %}
    {id: notes[c].id, content: notes[c].title, start: notes[c].time_created},
    {% endfor %}
    ];
    var options = {};
    var timeline = new vis.Timeline(container, data, options);
</script>
</body>
</html>
