<html>
<head>
<script src="{{MEDIA_URL}}modernizr.js"></script>
<script src="{{MEDIA_URL}}lodash.js"></script>
<script src="{{MEDIA_URL}}three.js"></script>
<script type="text/javascript" src="http://threejs.org/build/three.min.js"></script>
<script src="{{MEDIA_URL}}d3.js"></script>
<script src="{{MEDIA_URL}}TrackballControls.js"></script>
<script src="{{MEDIA_URL}}OrbitControls.js"></script>
<script src="{{MEDIA_URL}}CanvasRenderer.js"></script>
<script src="{{MEDIA_URL}}tween.js"></script>
<!---->
<script type="text/javascript" src="http://threejs.org/examples/js/Octree.js"></script>
<script type="text/javascript" src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="{{MEDIA_URL}}jquery.js"></script>
<script src="{{MEDIA_URL}}threejs.js"></script>

  <meta charset="utf-8">
  <title>Threejs mixed with d3js</title>
 
</head>
<body>
  <div id="container_pehomu"></div>
  <div class="instructions">[Drag with mouse to move/rotate; mouse wheel to zoom; right-drag to pan]</div>
</body>
</html>